.add {
    width: 55px;
    height: 30px;
    color: white;
    background-color: rgb(27, 144, 255);
    border: none;
}

.generator {
    width: 20%;
    float: left;
    position: absolute;
    top: 35%;
    left: 2%;
}

#text {
    height: 25px;
}